<!DOCTYPE html>
<html>

<head>
    <title>News List</title>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
    <script type="text/javascript" src="common/js/utils.js"></script>
    <script type="text/javascript" src="common/js/dialog.js"></script>
    <link rel="stylesheet" type="text/css" href="common/css/dialog.css">
    <link rel="stylesheet" type="text/css" href="common/css/reset.css">
    <link rel="stylesheet" type="text/css" href="common/css/list.css">
</head>
<body>
<input type="hidden" id="type" name="type" value = "<%= type %>" />
<input type="hidden" id="source" name="source" value = "<%= source %>" />
<nav class="top-inx">
        <% for(var i = 1;i<count+1;i++){ %>
            <span class="inx-item" data-pn="<%= i-1 %>"><%= i %></span>
        <% }%>
</nav>
<div class="news-wrap">
    <ul class="news" id="news">

    </ul>
</div>
<nav class="bottom-inx">
        <% for(var i = 1;i<count+1;i++){ %>
            <span class="inx-item" data-pn="<%= i-1 %>"><%= i %></span>
        <% }%>
</nav>
<script id="tmpl_dialog" type="text/x-simplet-template">
    <div class="[# this.type #] modal" id="[# this.id #]">
        <div class="modal-inner">
            [# if(this.showTitle){ #]
            <div class="modal-title">[# this.title#]</div>
            [#}#]
            <div class="modal-body">
                <div class="msg">[# this.msg#]</div>
                <div class="actions">
                    [# if(this.showCancelBtn){ #]
                    <button class="btn btnCancel">[# this.cancelBtn #]</button>
                    [#}#]
                    [# if(this.showOkBtn){ #]
                    <button class="btn btnOk">[# this.okBtn #]</button>
                    [#}#]
                    <div class="close-icon" id="close-icon">close</div>
                </div>
            </div>
        </div>
    </div>
</script>
<script id="tmpl_news" type="text/x-simplet-template">
    <ul class="items-wrap">
        [#for(var i=0; i<this.data.length; i++){  var item = this.data[i];#]
        <li class="new-item">
            <span class="id">[# item.id #]</span>
            <span class="source">[# item.source #]</span>
            <span class="title">[# item.title #]</span>
            <span class="avatar"><img src="[# item.avatar #]" /></span>
            <span class="url"><a href="[# item.url #]">[# item.url #]</a></span>
            <span class="view"><span class="view-btn" data-id="[# item.id #]">View</span></span>
        </li>
        [#}#]
    </ul>
</script>
<script>
    var tmpl = mquery('#tmpl_news').html();
    var url = "/api/getNewsList?sz=20&pn=0";
    var type = mquery("#type").val();
    var source = mquery("#source").val();
    if(type != "undefined")
    {
        url = "/api/getNewsList?sz=20&pn=0&type=" + type;
    }
    if(source != "undefined")
    {
        url = url + "&source=" + source;
    }
    function reBindViewBtn()
    {
        mquery(".view-btn").bind("click",function(){
            var id = this.dataset.id;
            var url = "/api/getNewsContent?id="+id;
            utils.ajax(url, function (data) {
                var ret = JSON.parse(data);
                utils.dialog({
                    msg:ret.content,
                    type: 'new-dialog',
                    showCancelBtn: false,
                    showOkBtn: false,
                    showTitle: false,
                    bindfunction: function () {
                        this.find("#close-icon").bind("click", function () {
                            mquery(document.body).css('overflow', "auto");
                            mquery(".modal").remove();
                        })
                    }
                });
            });
        },true);
    }
    utils.ajax(url, function (data) {
        var items = JSON.parse(data);
        var itemsHtml = utils.TemplateEngine(tmpl,items);
        mquery("#news").append(itemsHtml);
        reBindViewBtn();
    });
    mquery(".inx-item").bind("click",function(){
        mquery(".inx-item").removeClass("active");
        var id = this.dataset.pn;
        this.className = "inx-item active";
        var url = "/api/getNewsList?sz=20&pn="+id;
        var type = mquery("#type").val();
        if(type != "undefined")
        {
            url = "/api/getNewsList?sz=20&pn="+id + "&type=" + type;
        }
        if(source != "undefined")
        {
            url = url + "&source=" + source;
        }
        console.log(url);
        utils.ajax(url, function (data) {
            var items = JSON.parse(data);
            console.log(items);
            var itemsHtml = utils.TemplateEngine(tmpl,items);
            mquery("#news").html(itemsHtml);
            reBindViewBtn();
        });
    },true);
</script>
</body>

</html>
